{% extends 'documents/master.html' %}
{% load humanize %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <h1>Documents</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Document ID</th>
                <th>Owner</th>
                <th>Created On</th>
            </tr>
        </thead>
{% if document_list %}
    {% for document in document_list %}
        <tr>
            <td><a href="{% url 'detail' pk=document.id %}">{{document.document_id}}</a></td>
            <td>{{ document.customer.username }}</td>
            <td>{{ document.created_on }}</td>
        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td>None</td>
        <td>None</td>
        <td>None</td>
    </tr>
{% endif %}
    </table>
    {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}
</div>
{% endblock %}}
