{% extends 'documents/master.html' %}
{% load staticfiles %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <div class="container">
        <h1>Reset Password</h1>
        <p>Please give your email address to receive instructions for reseting your password.</p>
        <form action="" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Reset</button>
        </form>
    </div>
{% endblock %}