{% extends 'documents/master.html' %}
{% load staticfiles %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container">
    <h1>Change Password</h1>
    <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
    <form action="" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Reset</button>
    </form>
</div>
{% endblock %}